#app .flexL 
    display flex
    justify-content flex-start
#app .flexM
    display flex
    justify-content space-between

#app .flexMW
  display flex
  justify-content space-between
  flex-wrap wrap
#app .flexW
  display flex
  justify-content flex-start
  flex-wrap wrap
#app .flexC
    display flex
    justify-content center
.bgcolor
  background-color #fff
.paddingW
  padding 0 15px
html
    max-height 100%
.font_min
    font-size 12px
.font_sm
    font-size 14px
.font_mid
    font-size 16px
.font_big
    font-size 18px
/*重置样式*/
a:-webkit-any-link
    text-decoration none
ul
    list-style none
    margin 0
    padding 0
